<div class="word-cloud" aria-label="Research themes from Wang Lab publications">
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-xl">single-cell</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-sm">cell fate</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-lg">cardiac reprogramming</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-xs">congenital heart disease</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-md">chromatin accessibility</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-xs">CRISPR screens</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-lg">heart development</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-sm">epigenomics</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-md">functional genomics</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-sm">spatial transcriptomics</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-md">cardiomyocyte maturation</a>
<a href="{{ site.url }}{{ site.baseurl }}/research" class="word-cloud-item word-sm">regeneration</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-xs">endothelial fate</a>
<a href="{{ site.url }}{{ site.baseurl }}/publications" class="word-cloud-item word-xs">multi-omics</a>
</div>
